doctype html
html
  head: include ./head.pug
  body

    #app

      include ./recipe-placeholder.pug

      .container.py-3

        .row.justify-content-center
          h3.mb-4 Shopping list generator

        #step1.card.shadow.mb-4
          .card-header: .row
            .col-md-3
              section-title(text="1" :title="editindex > -1 ? 'Edit recipe' : 'Add recipes'" @sectionclick="step1toggle")
              icon.ml-1.fa-lg(:icon="step1visible ? 'caret-up' : 'caret-down'")
            .col.text-right
              .dropdown#recipes-backup
                button-icon.dropdown-toggle(icon="save" text="Recipes backup" data-toggle="dropdown")
                .dropdown-menu
                  //- https://codepen.io/pieceofcode/pen/zldng
                  label.dropdown-item.file-upload__label(for="recipesFile" text="Load")
                    icon.mr-2(icon="file-import")
                    | Load
                  input#recipesFile.file-upload__input(type="file" name="files" @change="handleFileSelect")
                  .dropdown-item(@click="exportRecipes")
                    icon.ml-n2.mr-2(icon="file-download")
                    | Save

          .card-body(v-show="step1visible == true"): .row
            include ./recipe-form.pug

        #step2.card.shadow.mb-4

          .card-header.pb-1: .row
            .col-md-3: section-title(text="2" title="Select recipes")

            .col: div.card-header-actions.d-flex
              //- Select none
              button-icon(icon="clone" family="far" color="outline-dark" title="Select none" @buttonclick="selectNone")

              //- Recipe filter
              .input-group
                input.form-control(v-model="filters.query" ref="query" placeholder="Search recipe details")
                .input-group-append: button-icon(icon="times" color="danger" title="Clear search" @buttonclick="clearQuery")

              //- Ingredients filter
              .input-group
                vue-multiselect(
                  v-model="filters.ings"
                  placeholder="Search ingredients"
                  label="name"
                  track-by="name"
                  :options="Ingredients.listFlat()"
                  :multiple="true"
                )
                .input-group-append
                  button-icon(icon="times" color="danger" title="Clear" @buttonclick="filters.ings = []")
                  input(type="checkbox" v-model="filters.ingModeAnd"
                    data-toggle="switchbutton" id="switchbutton-filters-ingModeAnd"
                    data-onlabel="AND"
                    data-offlabel="OR"
                    data-onstyle="danger"
                    data-offstyle="warning"
                    data-height="auto"
                  )

              //- Veg filter
              button-icon(
                icon="leaf"
                :color="filters.veg ? 'success' : 'outline-dark'"
                title="Toggle vegetarian"
                @buttonclick="filters.veg = !filters.veg"
              )

          //- Recipes list
          .card-body.py-2
            .table-responsive: table.table.table-hover.mb-0: tbody
              //- For custom components rendered as <tr>, syntax is different
              //- @see https://vuejs.org/guide/essentials/component-basics.html#dom-template-parsing-caveats
              tr(is="recipe-item" v-for="(recipe, index) in recipes"
                :recipe="recipe"
                :filters="filters"
                @updaterecipe="Recipes.update(index)"
                @deleterecipe="Recipes.delete(index)"
                @emodalrecipe="Recipes.eModal(index)"
              )

        #step3.card.shadow
          .card-header: .row.justify-content-between
            .col-md-3: section-title(text="3" title="Create shopping list")
            .col.text-right(v-if="Recipes.selected().length > 0")
              span.mr-md-2 {{ Recipes.selected().length }} recipes, {{ Recipes.selected('servings') }} servings
              button-icon(
                icon="shopping-basket" text="Generate shopping list" color="primary"
                v-clipboard:copy="clipboardShoppingList"
                v-clipboard:success="onCopy"
                v-clipboard:error="onError"
              )
              button-icon(
                icon="clipboard-list" text="Preview selected recipes" color="primary"
                v-clipboard:copy="clipboardMenues"
                v-clipboard:success="onCopy"
                v-clipboard:error="onError"
              )

    include ./foot.pug
