doctype html
html
  head: include ./head.pug
  body

    #app

      include ./recipe-placeholder.pug

      .container.py-3

        .row.justify-content-center
          h3.mb-4 Shopping list generator

        #step1.card.shadow.mb-4
          .card-header: .row
            .col-9.col-sm
              section-title.clickable(
                text="1"
                :title="editindex > -1 ? 'Edit recipe' : 'Add recipes'"
                @click="step1toggle"
                :suffix-icon="settings.step1visible ? 'caret-up' : 'caret-down'"
              )
            .col.text-right
              .dropdown#recipes-backup
                button-icon.dropdown-toggle(icon="database" text="Recipes DB" text-breakpoint="sm" data-toggle="dropdown")
                .dropdown-menu.dropdown-menu-right
                  //- https://codepen.io/pieceofcode/pen/zldng
                  label.dropdown-item.file-upload__label(for="recipesFile" text="Load")
                    icon.mr-2(icon="file-import")
                    | Load
                  input#recipesFile.file-upload__input(type="file" name="files" @change="importRecipes")
                  dropdown-item(text="Save" icon="file-download" @click="exportRecipes")
                  div(v-if="recipes.length > 0")
                    .dropdown-divider
                    dropdown-item(text="Clear" icon="broom" color="danger" @click="clearRecipes")

          .card-body(v-show="settings.step1visible == true"): .row
            include ./form.pug

        #step2.card.shadow.mb-4

          .card-header.pb-2: .row
            .col-9.col-lg-3.mb-2.mb-lg-0
              section-title(text="2" title="Select recipes")
              icon.ml-1.clickable(
                v-show="Recipes.selected().length > 0"
                icon="clone" family="far" color="outline-dark"
                title="Select none" @click="selectNone"
              )

            .col.card-header-actions.d-flex.flex-wrap.flex-md-nowrap.align-items-center.justify-content-end

              //- Random recipe
              button-icon#randomRecipe.order-1.fa-lg.px-1(
                ref="randomRecipe" @click="randomRecipe" v-if="recipes.length > 0"
                icon="dice" color="primary" title="Random recipe"
              )

              //- Recipe filter
              .input-group.order-3.order-md-2
                input.form-control(v-model="filters.query" ref="query" placeholder="Search recipe details")
                .input-group-append: button-icon(icon="times" color="danger" title="Clear search" @click="clearQuery")

              //- Ingredients filter
              .input-group.order-4.order-md-3
                vue-multiselect(
                  v-model="filters.ings"
                  placeholder="Search ingredients"
                  label="name"
                  track-by="name"
                  :options="Ingredients.listFlat()"
                  :multiple="true"
                )
                .input-group-append: button-icon(icon="times" color="danger" title="Clear" @click="filters.ings = []")

              //- Settings
              .dropdown.order-2.order-md-4
                button-icon.dropdown-toggle(icon="cog" color="secondary" text-breakpoint="sm" data-toggle="dropdown")
                .dropdown-menu.dropdown-menu-right
                  dropdown-item(
                    text="Minimum rating"
                    icon="star"
                    :color="filters.rating ? 'warning' : 'dark'"
                    :suffix="filters.rating ? filters.rating : 'any'"
                    @click="filters.rating = filters.rating == 5 ? false : filters.rating + 1"
                    :keep-menu="true"
                  )
                  dropdown-item(
                    text="Vegetarian only"
                    icon="leaf"
                    :color="filters.veg ? 'success' : 'dark'"
                    :suffix="filters.veg ? 'yes' : 'no'"
                    @click="filters.veg = !filters.veg"
                    :keep-menu="true"
                  )
                  dropdown-item(
                    text="Ingredient match"
                    :icon="settings.ingModeAnd ? 'check-double' : 'check'"
                    :color="settings.ingModeAnd ? 'danger' : 'dark'"
                    :suffix="settings.ingModeAnd ? 'all' : 'any'"
                    @click="settings.ingModeAnd = !settings.ingModeAnd"
                    :keep-menu="true"
                  )
                  dropdown-item(
                    text="List style"
                    :icon="settings.listCompact ? 'list' : 'th-list'"
                    :suffix="settings.listCompact ? 'compact' : 'detailed'"
                    @click="settings.listCompact = !settings.listCompact"
                    :keep-menu="true"
                  )

          //- Recipes list
          .card-body.py-2.px-lg-5
            recipe-item(v-for="(recipe, index) in recipes"
              :recipe="recipe"
              :filters="filters"
              :settings="settings"
              @updaterecipe="Recipes.update(index)"
              @deleterecipe="Recipes.delete(index)"
              @emodalrecipe="Recipes.eModal(index)"
            )

        #step3.card.shadow
          .card-header: .row.justify-content-between
            .col-lg-4.mb-2.mb-lg-0: section-title(text="3" title="Create shopping list")
            .col.text-right(v-if="Recipes.selected().length > 0")
              span.mr-2 {{ Recipes.selected().length }} recipes, {{ Recipes.selected('servings') }} servings
              button-icon.mr-1(
                title="Generate shopping list"
                icon="shopping-basket" color="primary"
                text="Generate shopping list" text-breakpoint="md"
                v-clipboard:copy="clipboardShoppingList"
                v-clipboard:success="onCopy"
                v-clipboard:error="onError"
              )
              button-icon(
                title="Preview selected recipes"
                icon="clipboard-list" color="primary"
                text="Preview selected recipes" text-breakpoint="md"
                v-clipboard:copy="clipboardMenues"
                v-clipboard:success="onCopy"
                v-clipboard:error="onError"
              )

    include ./foot.pug
