#recipe-placeholder.d-none(v-if="Recipe.activeRecipe !== null") 
  .recipe-placeholder.container(ref="recipePlaceholder")
    .recipe-image-thumbnail.rounded.mb-2(
      v-if="Recipe.activeRecipe.image"
      :style="{ 'background-image': Funcs.getImage(Recipe.activeRecipe).css }"
    )
    .mb-2(v-if="Recipe.activeRecipe.rating"): icon(v-for="i in Recipe.activeRecipe.rating" icon="star" color="warning")
    .mb-3(v-if="Recipe.activeRecipe.comment"): i(v-html="Funcs.nlbr(Recipe.activeRecipe.comment)")
    ul.fa-ul
      li(
        v-for="(ing, index) in Recipe.activeRecipe.ingredients"
        :data-first-optional="ing.optional && !Recipe.activeRecipe.ingredients[index-1].optional"
      )
        span.fa-li: small: icon(
          :icon="ing.optional ? 'question' : 'check'"
          :color="ing.optional ? 'primary' : 'success'"
        )
        span(v-html="Funcs.fraction(ing.amount * Recipe.activeRecipe.servingsModifier)")
        | {{ ing.unit }} {{ ing.name }}
  a(
    ref="recipePlaceholderLink"
    v-show="Recipe.activeRecipe.link.length > 0"
    :href="Recipe.activeRecipe.link"
    target="_blank"
  ): icon(icon="external-link-alt" color="primary")
