input(type="hidden" v-model="editindex")
.col

  .form-row.form-group
    .col-md-4
      #recipeImage.input-group-text.justify-content-center.h-100.p-md-0
        .recipe-image-thumbnail(v-if="recipe.image" :style="{ 'background-image': getImage(recipe).css }")
        button-icon(
          v-if="recipe.image"
          icon="trash"
          color="danger"
          title="Remove image"
          @buttonclick="recipe.image = ''"
        )
        input#recipeImageFile.w-100.h-100.border-0.text-center(
          type="text"
          v-if="!recipe.image"
          v-model="recipe.image"
          name="imagefile"
          placeholder="Image (optional)"
        )
    .col
      input.form-control.form-control-lg(type="text" v-model="recipe.name" placeholder="Recipe name")
      textarea.form-control(type="text" v-model="recipe.comment" placeholder="Comment (optional)")
      .form-row
        .col: input.form-control(type="text" v-model="recipe.link" placeholder="Link (optional)")
        .col-md-2: input.form-control(type="number" v-model="recipe.servings" min="1" max="10" step="0.5" placeholder="Servings (optional)")
          

  //- Recipe ingredients
  h5 Ingredients
  .row

    //- Ingredient list
    .col-md-5
      p(v-show="recipe.ingredients.length == 0") No ingredients yet...
      ul#new-ingredients.fa-ul(v-show="recipe.ingredients.length > 0")
        li.d-flex.justify-content-between.align-items-center(v-for="(ing, index) in recipe.ingredients")
          span.fa-li: icon(icon="trash" color="danger" @click.native="deleteIngredient(index)")
          span {{ ing.amount }}{{ ing.unit }} {{ ing.name }}
          .d-flex
            small.ing-optional.mr-1 Optional?
            input(
              type="checkbox"
              :checked="ing.optional ? true : false"
              @change="optionalIngredient(index)"
            )

    //- New ingredient form
    .col
      .row.form-group

        //- Ingredient selection
        .col
          vue-multiselect(
            v-if="ingForm == 'exist'"
            v-model="ingredient.name"
            placeholder="Choose existing ingredient..."
            :allow-empty="false"
            label="name"
            :options="ingredientList"
            group-label="department"
            group-values="ings"
            :group-select="false"
            @input="updateExistingIngredient"
          )
          div(v-if="ingForm == 'new'")
            input.form-control(type="text" v-model="ingredient.name" @keydown.enter="addIngredient" placeholder="Ingredient name")
            .row
              .col
                select.form-control(v-model="ingredient.department")
                  option(value="") Select department...
                  option(v-for="department in departmentList" :value="department") {{ department }}
              .col
                input.form-control(type="text" v-model="ingredient.department" @keydown.enter="addIngredient" placeholder="... or add new")

        //- Existing / new
        .col-md-3.text-right
          .dropdown
            button-icon.dropdown-toggle(data-toggle="dropdown" :text="ingForm == 'exist' ? 'Existing' : 'New'")
            .dropdown-menu
              .dropdown-item(@click="clearIngredient()") Existing
              .dropdown-item(@click="clearIngredient('new')") New

      .row.align-items-center

        //- Amount & unit
        .col-md-5
          .input-group
            input.form-control(type="number" v-model="ingredient.amount")
            .input-group-append.dropdown
              button.btn.dropdown-toggle(
                v-model="ingredient.unit"
                :disabled="ingForm == 'exist'"
                data-toggle="dropdown"
              ) {{ ingredient.unit !== null ? ingredient.unit : 'Unit' }}
              .dropdown-menu: .dropdown-item(
                v-for="option in units"
                @click="ingredient.unit = option"
              ) {{ option != '' ? option : '(no unit)' }}

        .col-md-4
          icon.fa-lg.mr-2(
            v-model="ingredient.optional"
            @click.native="ingredient.optional = !ingredient.optional"
            :icon=  "ingredient.optional ? 'check-square' : 'square'"
            :family="ingredient.optional ? 'fas' : 'far'"
            :color= "ingredient.optional ? 'primary' : ''"
          )
          | Optional?

        //- New ingedient action button
        .col.text-right: button-icon(icon="plus" text="Add" color="primary" @buttonclick="addIngredient")

//- Recipe action buttons
.col-md-2.text-right
  button-icon.btn-lg.mb-2(
    :icon="editindex !== '' ? 'pen' : 'plus'"
    :text="editindex !== '' ? 'Update' : 'Add'"
    :color="editindex !== '' ? 'warning' : 'primary'"
    @buttonclick="addRecipe"
  )
  button-icon(icon="times" text="Cancel" color="danger" @buttonclick="clearRecipe")
