input(type="hidden" v-model="editindex")
.col

  .form-row.form-group
    .col-md-4
      #recipeImage.input-group-text.justify-content-center.h-100.p-md-0
        .recipe-image-thumbnail(
          v-if="Recipe.recipe.image"
          :style="{ 'background-image': Funcs.getImage(Recipe.recipe).css }"
        )
        button-icon(
          v-if="Recipe.recipe.image"
          icon="trash"
          color="danger"
          title="Remove image"
          @click="Recipe.recipe.image = ''"
        )
        input#recipeImageFile.w-100.h-100.border-0.text-center(
          type="text"
          v-if="!Recipe.recipe.image"
          v-model="Recipe.recipe.image"
          placeholder="Image URL"
        )
    .col
      input.form-control.form-control-lg(type="text" v-model="Recipe.recipe.name" placeholder="Recipe name")
      textarea.form-control(type="text" v-model="Recipe.recipe.comment" placeholder="Comment")
      .form-row
        .col: input.form-control(type="text" v-model="Recipe.recipe.link" placeholder="Link")
        .col-md-2: input.form-control(type="number" v-model="Recipe.recipe.servings" min="1" max="10" step="1" placeholder="Servings")
        .col-md-2: input.form-control(type="number" v-model="Recipe.recipe.rating" min="0" max="5" step="1" placeholder="Rating")

  include ./recipe-form-ingredients.pug

//- Recipe action buttons
.col-md-2.text-right
  button-icon.btn-lg.mb-2(
    :icon="editindex > -1 ? 'pen' : 'plus'"
    :text="editindex > -1 ? 'Update' : 'Add'"
    :color="editindex > -1 ? 'warning' : 'primary'"
    @click="Recipes.save()"
  )
  button-icon(icon="times" text="Cancel" color="danger" @click="Recipes.clear()")
